/* br4nch - Data Structure Tree Builder */
/* Website: https://br4nch.com */
/* Documentation: https://docs.br4nch.com */
/* Github Repository: https://github.com/TRSTN4/br4nch */

.header-container {
    /* Position */
    text-align: center;
    margin-top: 100px;
}

.links-container {
    /* Position */
    text-align: center;
    margin-top: 200px;
    padding: 40px;
}

.grid-container {
    /* Position */
    overflow: hidden;
    max-width: 1200px;
    margin: 50px auto auto;
    padding: 40px;

    /* Grid */
    display: grid;
    gap: 20px;

}

.grid-item {
    /* Position */
    padding: 20px;

    /* Background */
    background: #d6d6d6;

    /* Text */
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    /* Border */
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
}

.grid-item:hover {
    /* Background */
    background: #a1a1a1;

    /* Cursor */
    cursor: pointer;
}